
{% if site.social.github %}
<a href="{{ site.social.github | prepend: 'https://github.com/' }}" class="icon-button github">
  <i class="fab fa-github icon-github"></i>
  <span></span>
</a>
{% endif %}

{% if site.social.steam %}
<a href="{{ site.social.steam | prepend: 'https://steamcommunity.com/id/'}}" class="icon-button steam">
  <i class="fab fa-steam-symbol icon-steam"></i>
  <span></span>
</a>
{% endif %}

{% if site.social.facebook %}
<a href="{{ site.social.facebook | prepend: 'https://facebook.com/'}}" class="icon-button facebook">
  <i class="fab fa-facebook-f icon-facebook"></i>
  <span></span>
</a>
{% endif %}

{% if site.social.wechat %}
<a href="{{ site.baseurl }}/images/icon/wechat.jpg"  class="icon-button wechat">
  <i class="fab fa-weixin icon-wechat"></i>
  <span></span>
</a>
{% endif %}

