{% if site.social.github %}
<a href="{{ site.social.github | prepend: 'https://github.com/' }}" class="icon-button github">
  <i class="fa fa-github icon-github"></i>
  <span></span>
</a>
{% endif %}

{% if site.social.twitter %}
<a href="{{ site.social.twitter | prepend: 'https://twitter.com/' }}" class="icon-button twitter">
  <i class="fa fa-twitter icon-twitter"></i>
  <span></span>
</a>
{% endif %}

{% if site.social.facebook %}
<a href="{{ site.social.facebook | prepend: 'https://facebook.com/'}}" class="icon-button facebook">
  <i class="fa fa-facebook icon-facebook"></i>
  <span></span>
</a>
{% endif %}

{% if site.social.linkedin %}
<a href="{{ site.social.linkedin | prepend: 'https://linkedin.com/in/' }}" class="icon-button linkedin">
  <i class="fa fa-linkedin icon-linkedin"></i>
  <span></span>
</a>
{% endif %}
